project/datomala_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8443/datomala_aplikacija_1/MeteoDataWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.datomala.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.datomala.nwtis.foi.org/" name="MeteoData">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.datomala.nwtis.foi.org/" schemaLocation="https://localhost:8443/datomala_aplikacija_1/MeteoDataWS?xsd=1" />
</xsd:schema>
</types>
<message name="selectDataInTimeInterval">
<part name="parameters" element="tns:selectDataInTimeInterval" />
</message>
<message name="selectDataInTimeIntervalResponse">
<part name="parameters" element="tns:selectDataInTimeIntervalResponse" />
</message>
<message name="selectActiveZipCodes">
<part name="parameters" element="tns:selectActiveZipCodes" />
</message>
<message name="selectActiveZipCodesResponse">
<part name="parameters" element="tns:selectActiveZipCodesResponse" />
</message>
<message name="selectTopZipCodes">
<part name="parameters" element="tns:selectTopZipCodes" />
</message>
<message name="selectTopZipCodesResponse">
<part name="parameters" element="tns:selectTopZipCodesResponse" />
</message>
<message name="selectLatestDataForZipCode">
<part name="parameters" element="tns:selectLatestDataForZipCode" />
</message>
<message name="selectLatestDataForZipCodeResponse">
<part name="parameters" element="tns:selectLatestDataForZipCodeResponse" />
</message>
<message name="selectNLatestDataForZipCode">
<part name="parameters" element="tns:selectNLatestDataForZipCode" />
</message>
<message name="selectNLatestDataForZipCodeResponse">
<part name="parameters" element="tns:selectNLatestDataForZipCodeResponse" />
</message>
<portType name="MeteoDataWS">
<operation name="selectDataInTimeInterval">
<input wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectDataInTimeIntervalRequest" message="tns:selectDataInTimeInterval" />
<output wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectDataInTimeIntervalResponse" message="tns:selectDataInTimeIntervalResponse" />
</operation>
<operation name="selectActiveZipCodes">
<input wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectActiveZipCodesRequest" message="tns:selectActiveZipCodes" />
<output wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectActiveZipCodesResponse" message="tns:selectActiveZipCodesResponse" />
</operation>
<operation name="selectTopZipCodes">
<input wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectTopZipCodesRequest" message="tns:selectTopZipCodes" />
<output wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectTopZipCodesResponse" message="tns:selectTopZipCodesResponse" />
</operation>
<operation name="selectLatestDataForZipCode">
<input wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectLatestDataForZipCodeRequest" message="tns:selectLatestDataForZipCode" />
<output wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectLatestDataForZipCodeResponse" message="tns:selectLatestDataForZipCodeResponse" />
</operation>
<operation name="selectNLatestDataForZipCode">
<input wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectNLatestDataForZipCodeRequest" message="tns:selectNLatestDataForZipCode" />
<output wsam:Action="http://ws.datomala.nwtis.foi.org/MeteoDataWS/selectNLatestDataForZipCodeResponse" message="tns:selectNLatestDataForZipCodeResponse" />
</operation>
</portType>
<binding name="MeteoDataWSPortBinding" type="tns:MeteoDataWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="selectDataInTimeInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectActiveZipCodes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectTopZipCodes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectLatestDataForZipCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectNLatestDataForZipCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MeteoData">
<port name="MeteoDataWSPort" binding="tns:MeteoDataWSPortBinding">
<soap:address location="https://localhost:8443/datomala_aplikacija_1/MeteoDataWS" />
</port>
</service>
</definitions>